// app global css in SCSS form
// body {
//   overflow-y: hidden;
// }
.darkPage {
  background-color: #121212;
}

.heading-bullet::before {
  content: "";
  display: inline-block;
  position: relative;
  top: calc(-0.1 * 1em);
  vertical-align: middle;
  height: calc(4px + 0.7em);
  margin-right: calc(5px + 0.2em);
  border-left: calc(1px + 0.1em) solid #00c7ac;
}
